# Файл .gitignore
# Тимчасові файли та кеш байт-коду CPython
__pycache__/
*.py[cod]
*$py.class

# Директорії віртуальних середовищ
.env/
.venv/
env/
venv/
ENV/
miniconda3/

# Конфігурації середовищ розробки та операційної системи
.vscode/*
!.vscode/launch.json
.idea/
.DS_Store
Thumbs.db

# Тимчасові файли Jupyter Notebook
.ipynb_checkpoints/
*-checkpoint.ipynb